<div class="container">
  <div>
      <form #myForm="ngForm" [formGroup]="formReg" (ngSubmit)="setCardList()">
        <div class="form-row mt-3">
            <div class="d-flex">
              <div class="col-md-4">
                <label for="place">Lugar:</label>
                <input type="text" id="place" name="place" class="form-control" required formControlName="place">
              </div>
              <div class="col-md-4">
                <label for="type">Opción:</label>
                <br>
                <p-dropdown
                  [options]="opciones"
                  [(ngModel)]="opcionSeleccionada"
                  (ngModelChange)="actualizarDatoSeleccionado()"
                  optionLabel="label"
                  placeholder="Selecciona una opción"
                  name="type"
                  id="type"
                  [required]="true"
                ></p-dropdown>
              </div>
            </div>
            <div class="d-flex">
              <div class="col-md-2">
                  <label for="startDate">De:</label>
                  <input type="date" id="startDate" name="startDate" class="form-control" required formControlName="startTime">
              </div>
              <div class="col-md-2">
                  <label for="endDate">Hasta:</label>
                  <input type="date" id="endDate" name="endDate" class="form-control" required formControlName="finishTime">
              </div>
              <div class="col-md-3">
                <label for="price">Precio:</label>
                <input type="text" id="price" name="price" class="form-control" required formControlName="precio">
            </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Agregar Registro</button>
      </form>
  </div>

  <div class="mt-5">
      <table class="table table-bordered table-striped">
          <thead class="thead-dark">
              <tr>
                  <th>Opción</th>
                  <th>Lugar</th>
                  <th>Fecha de Inicio</th>
                  <th>Fecha de Finalización</th>
                  <th>Precio</th>
              </tr>
          </thead>
          <tbody *ngFor="let item of cardsList; 
                  let i = index;
                  let isOdd = odd;">
              <tr>
                  <td>{{ item.type }}</td>
                  <td>{{ item.place }}</td>
                  <td>{{ item.startTime }}</td>
                  <td>{{ item.finishTime }}</td>
                  <td>$ {{ item.precio }}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
