<!-- app/home/home.component.html -->

<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h2>Viajes DyA</h2>
        <h6>"El amanecer en otro lugar"</h6>
        <p>Descubre emocionantes destinos y experiencias únicas con nosotros.</p>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="../../../assets/images/travel.jpg" class="card-img-top" alt="Travel Image">
          <div class="card-body">
            <h5 class="card-title">Explora Nuevos Destinos</h5>
            <p class="card-text">Descubre destinos fascinantes y planea tu próximo viaje con nosotros.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="../../../assets/images/hospedaje.jpg" class="card-img-top" alt="Accommodation Image">
          <div class="card-body">
            <h5 class="card-title">Hospedaje Exclusivo</h5>
            <p class="card-text">Encuentra los mejores lugares para alojarte durante tus vacaciones.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="../../../assets/images/promos.jpg" class="card-img-top" alt="Promotions Image">
          <div class="card-body">
            <h5 class="card-title">Promociones Especiales</h5>
            <p class="card-text">Aprovecha nuestras promociones exclusivas para hacer tu viaje aún más especial.</p>
          </div>
        </div>
      </div>
    </div>
  </div>